.venv/
venv/
env/

.env
.env*



__pycache__/
*.py[cod]
*$py.class
*.so

*.db
*.sqlite3

logs/
*.log

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db


celerybeat-schedule
celerybeat.pid

backend/app/keys